@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
}

button {
  background-color:#61459C;
  color: white;
 padding: 8px 8px;
 max-width: 110px;
 border: none;
 border-radius: 10px;
 transition: all 350ms;
 margin-top: 20px;

}

button:hover{
  background-color:#8578a1 ;

}
